.debug {
    background-color: blue;
    height: 100vh;
}

/* TOP-BAR */
.top-bar {
    background: inherit;
}

.top-bar .logo {
    max-width: 240px;
    position: relative;
    bottom: 0px;
}

h4 {
    margin-bottom: 48px !important;
}

.label-text-conditions {
    justify-content: center;
    display: flex;
    align-items: end;
}

.icon-check-label {
    cursor: pointer;
    font-size: 20px;
}

.link-url {
    color: #feb41c !important;
    text-decoration: underline;
}

.policy-header {
    padding-top: 10%;
}

.img-viewon-web {
    display: block;
}

.img-viewon-mobile {
    display: none;
}


@media only screen and (max-width: 400px) {
    .policy-header {
        padding-top: 25%;
    }

    .img-viewon-web {
        display: none !important;
    }

    .img-viewon-mobile {
        display: block !important;
    }

    .background-image-holder.parallax-background {
        top: -5% !important;
    }

    .padding-top-20 {
        padding-top: 20px;
    }

    .feature-box {
        min-height: 200px !important;
    }

    .feature-box .background-image-holder {
        width: 125% !important;
    }
}